.section1 {
  height: 80vh;
  padding-left: 10%;
  padding-right: 10%;
  margin-top: 5%;

  .homehead {
    font-size: fontset(20px, 90);
    font-weight: 700;
    line-height: 100%;
  }

  .homeTagLine {
    font-weight: 400;
    line-height: 130%;
    color: #575757;
    margin-bottom: 5%;
  }

  .contactButton {
    font-weight: 600;
  }

  .gridposition {
    margin-top: 5%;
  }

  ul {
    list-style-type: none;
    padding: 0;
    li {
      //   margin-right: 8%;
      width: 9.711vw;
      padding-right: 4%;
      float: left;

      & > * {
        color: $textPrimary;
      }

      a {
        text-decoration: none;
        border-top: 2px solid #b1b1b1;
        font-size: 1.645rem;
        font-weight: 600;
      }

      div {
        position: absolute;
        display: block;
        width: 11.5%;
        font-size: 0.688rem;
        font-weight: 500;
        margin-top: 2%;
      }
    }

    @media (max-width: 600px) {
      position: absolute;
      width: 100vw;
      top: 70vh;
      li {
        a {
          font-size: fontset(15px, 90);
        }
        width: 23vw;
        &:nth-child(2) {
          width: 30vw;
          padding-left: 4vw;
        }

        div {
          width: 23vw;
        }
      }
    }
  }
}

.about {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  background-color: $primary;

  * {
    margin-left: 10%;
    color: $textSecondary;
  }

  .aboutuptag {
    padding-top: 8%;
    font-size: 0.788rem;
    font-weight: 300;
    letter-spacing: 0.36px;
  }

  .aboutuptagline {
    font-weight: 600;
    margin-top: 5%;
    letter-spacing: 1.15px;
  }

  .abouthead {
    margin-top: 1%;
    font-size: fontset(20px, 75);
    font-weight: 500;

    @media (max-width: 600px) {
      font-size: 2.2rem;
    }
  }

  .aboutTag {
    margin-top: 6%;
    font-weight: 300;
    font-size: 0.998rem;
    width: 42.24vw;

    @media (max-width: 600px) {
      margin-top: 10vh;
      width: 60vw;
    }
  }
}

.product {
  height: 100vh;
  margin: 0;
  padding: 0;

  * {
    color: $textPrimary;
  }

  .workpeer {
    position: relative;
    transform: scale(0.99);
    width: 90vw;
    max-width: 1366px;
    top: 5vh;
    min-height: 192px;
    min-width: 341.5px;

    @media (max-width: 600px) {
      width: 100vw;
      transform: translate(-50%, 0%) scale(1.7);
      position: absolute;
      top: 220vh;
      left: 77%;
    }
  }

  .productuptag {
    margin-left: 10%;
    padding-top: 8%;
    font-size: 0.788rem;
    font-weight: 300;
    letter-spacing: 0.36px;
  }

  .producthead {
    position: absolute;
    top: 245vh;
    left: 64.12vw;
    // width: 21.6vw;
    height: 73px;
    font-size: fontset(14px, 70);
    font-weight: 700;
    line-height: 85px;
    letter-spacing: 0px;
    color: $secondary;

    @media (max-width: 600px) {
      // width: 100%;
      position: absolute;
      top: 245vh;
      left: 50%;
      transform: translate(-50%, 0%);
      font-size: 3rem;
    }
  }

  .productsubhead {
    position: absolute;
    left: 64.12vw;
    top: 258vh;
    width: 30vw;
    font-weight: 700;
    font-size: fontset(10px, 32);
    line-height: 112%;

    @media (max-width: 600px) {
      position: absolute;
      top: 260vh;
      margin-left: 10%;
      // margin-right: 50%;
      left: 0vw;
      font-size: 1rem;
      width: 85vw;
      line-height: 30px;
    }
  }

  .productfeatures {
    position: absolute;
    width: 26vw;
    left: 64.12vw;
    top: 275vh;
    font-size: fontset(10px, 21);
    font-weight: 500;
    letter-spacing: 0.24px;
    line-height: 22px;
    color: $textPrimary;

    @media (max-width: 600px) {
      position: absolute;
      top: 280vh;
      left: 10%;
      width: 90vw;
    }
  }

  .productlink {
    position: absolute;
    left: 64vw;
    top: 290vh;
    color: $primary;
    text-decoration: underline;
    font-size: fontset(10px, 22);
    font-weight: 700;

    @media (max-width: 600px) {
      position: absolute;
      top: 292vh;
      left: 10%;
      width: 100vw;
    }
  }
}

.contact {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: $secondary;
  overflow: hidden;

  @media (max-width: 600px) {
    height: 200vh;
  }

  div {
    color: $textSecondary;
  }

  .contactuptag {
    // position: absolute;
    // top: 15.625vh;
    // left: 10%;
    // font-size: 0.788rem;
    // font-weight: 300;
    // letter-spacing: 0.36px;
    margin-left: 10%;
    padding-top: 8%;
    font-size: 0.788rem;
    font-weight: 300;
    letter-spacing: 0.36px;
  }

  .contacthead {
    position: absolute;
    font-weight: 700;
    font-size: fontset(30px, 100);
    left: 9.5%;
    top: 16.7vh;
  }

  .contactsubhead {
    position: absolute;
    top: 38vh;
    left: 10%;
    font-weight: 300;
    letter-spacing: 0.4px;
    font-size: 0.998rem;
    width: 20vw;

    @media (max-width: 600px) {
      position: absolute;
      top: 30vh;
      width: 50vw;
    }
  }

  .info {
    position: absolute;
    text-align: right;
    top: 54vh;
    right: 10vw;

    * {
      margin-top: 2%;
    }

    div:nth-child(2n-1) {
      font-weight: 200;
      // margin-bottom: 3%;
    }

    div:nth-child(2n) {
      // color: red;
      width: 13.64vw;
      margin-bottom: 10%;
      font-weight: 300;
    }

    @media (max-width: 600px) {
      position: relative;
      top: 140vh;
      left: 50vw;
      transform: translate(-50%, -50%);
      // width: 80vw;
      text-align: center;

      div:nth-child(2n) {
        position: relative;
        left: 50%;
        transform: translate(-50%, 0%);
        width: 80vw;
      }
    }
  }

  .form {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 10%;
    top: 50vh;

    & > * {
      margin-top: 2%;
      width: 190%;
    }

    .MuiInputBase-root {
      border-bottom: 2px solid $textPrimary;
    }

    .Mui-focused {
      border-bottom: 2px solid black;
    }

    .MuiInputLabel-animated {
      color: $textPrimary;
      font-size: 0.95rem;
    }

    .MuiInputLabel-shrink {
      color: $primary;
    }

    .MuiButtonBase-root {
      background-color: $primary;
      margin-top: 20%;
      width: 80%;
    }
  }

  .logo-white {
    position: absolute;
    top: 175vh;
    left: 50vw;
    transform: translate(-50%, 0%);
  }
}
