.navbar {
  //   padding: 0% 10% 0% 10%;
  margin-left: 10%;
  margin-right: 10%;

  .logo {
    margin-top: 0;
    transform: scale(0.75) translate(-27%, 0%);
  }

  .gridposition {
    transform: translate(0%, -20%);

    @media (max-width: 600px) {
      ul {
        padding: 0;
        margin-left: 1%;
        width: 100vw;
        
        li {
          // position: absolute;
          transform: translate(0, -10vh);
          font-size: fontset(10px, 20);
        }
      }
    }
  }

  .list {
    list-style: none;
    float: right;
    li {
      float: left;
    }

    a {
      text-decoration: none;
      color: $textPrimary;
      // color: red;
      font-weight: 500;
      padding-right: 30px;
      font-family: $font;
      font-size: 1.1rem;
      // line-height: 19px;
      // font-size: 12px;
    }
  }
}
