$font: Montserrat;
$primary: #d11621;
$secondary: black;
$textPrimary: #646464;
$textSecondary: white;

$breakpoints: (
  "mobile": 600px,
  "tablet": 960px,
  "pc": 1366px,
) !default;

@function fontset($min, $max) {
  @return calc(#{$min} + (#{$max} - 14) * ((100vw - 300px) / (1600 - 300)));
}
