@import "utilities";
@import "navbarStyles";
@import "homeviewStyles";

* {
  font-family: $font;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;

  &::-webkit-scrollbar {
    border-radius: 10px;
    width: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $primary; /* color of the scroll thumb */
    border-radius: 20px; /* roundness of the scroll thumb */
  }

  &::-webkit-scrollbar-track {
    background: #f0f0f0; /* color of the tracking area */
  }
}
